@page
@model AdminModel
<h2>Panel administratora</h2>
<p>Witaj, @User.Identity.Name!</p>

<p><a href="/Students">Zarządzaj studentami</a></p>
<p><a href="/AddStudent">Dodaj studenta</a></p>
<p><a href="/Logout">Wyloguj</a></p>
