@page
@model StudentsModel
@{
    ViewData["Title"] = "Studenci";
}

<h2>Lista studentów</h2>

<table>
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Data urodzenia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model.Students)
        {
            <tr>
                <td>@s.FirstName</td>
                <td>@s.LastName</td>
                <td>@s.BirthDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
